<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilherme Cabral</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <center>
        <title>Guilherme Cabral</title>
    <nav id="navbar">
        <h2>Contato e Portifolio</h2>
        <ul>
                <li>(32)99825-7304</li>
                <li>guihermedeoliveiracabral@gmail.com</li>
                <li>GitHub:<a href="https://github.com/eucabral">https://github.com/eucabral</a></li>
                <li>LinkedIn:<a href="https://www.linkedin.com/in/guilherme-cabral-a52627235/">https://www.linkedin.com/in/guilherme-cabral-a52627235/</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <p><span>
                Repositorio
            </span> &copy;2022</p>
        <h4>Esse site é feio porque sou back-end  :)</h4>
    </footer>
    </center>
</body>
</html>