<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositorio Guilherme Cabral</title>
</head>
<body>
    <h2>Apresentação</h2>
    <p>Sou Guilherme Cabral,estudante de análise e desenvolvimento de sistemas e desenvolvedor Back-end me especializando em node.js,me considero ágil e consistente em aprender uma nova linguagem e me adaptar a qualquer mudança, pronto para superar qualquer desafio.
Se eu pudesse me definir em 3 palavras, certamente seriam: dedicado, disciplinado e otimista </p>
    <h2>Tecnologias e Ferramentas</h2>
    <ul>
        <li>Express</li>
        <li>MongoDB e MySQL</li>
        <li>Mongoose e Sequelize</li>
        <li>APIs</li>
        <li>arquitetura MVC</li>
        <li>Git e GitHub</li>
    </ul>
    <h2>Escolaridade</h2>
    <p>
        <ul>
            <li>Faculdade: estacio de sá</li>
            <li>Curso: análise e desenvolvimento de sistemas</li>
            <li>De 2022 a 2024</li>
        </ul>
    </p>
    <h2>Cursos complementares</h2>
    <ul>
        <li>curso node.js matheus battisti</li>
    </ul>
    <h2>Idiomas</h2>
    <ul>
        <li>Inglês intermediário</li>
    </ul>
    
</body>
</html>